@model CCD_Attendance.Areas.Employee.Models.UsersViewModel

<h1>User Management</h1>

<div class="pt-2 pb-2">
    <h2>Requested Accounts</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.RequestedUsers)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@user.FirstName @user.LastName</td>
                    <td class="text-center">
                        <a href="~/Employee/User/Approve?userId=@user.Id" class="btn btn-sm btn-success">Approve</a>
                        <a href="~/Employee/User/Deny?userId=@user.Id" class="btn btn-sm btn-danger">Deny</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="pt-2 pb-2">
    <h2>Current Users</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.RegularUsers)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@user.FirstName @user.LastName</td>
                    <td class="text-center">
                        <a href="~/Employee/User/Delete?userId=@user.Id" class="btn btn-danger btn-sm">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
